h1 {
  color: #101010;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
  max-width: 750px;
  height: 700px;
  margin: auto;
  background-image: url("images/Designer.jpeg");
  border: 10px solid #101010;
  border-radius: 20px;
  margin-top: 50px;
}

h1 {
  padding: 20px;
}

form {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
}

.search-bar {
  padding: 10px;
  width: 75%;
  border: rgba(39, 33, 66, 0.5);
  border-radius: 10px;
  margin-left: 2%;
}

.submit-button {
  border: rgba(39, 33, 66, 0.5);
  border-radius: 10px;
  margin-left: 4px;
  padding: 14px 24px;
  margin-right: 2%;
}

.loading-message {
  margin-top: 20px;
  font-size: 20px;
}

.quote-container {
  display: flex;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  max-width: 80%;
  height: 50%;
  background-color: rgba(250, 235, 215, 0.6);
  border-radius: 10px;
  align-items: center;
  font-size: larger;
  line-height: 1.5;
  font-weight: 500;
}

#quote {
  margin: 0% auto;
}

footer {
  font-weight: 600;

  max-width: 80%;
  margin: 0% auto;
  margin-top: 30px;
}

footer a {
  color: purple;
}

footer a:hover {
  color: antiquewhite;
  background-color: #101010;
  border-radius: 10px;
}

.submit-button:hover {
  background-color: #101010;
  color: antiquewhite;
}

input:focus {
  outline: 2px solid purple; /* Set the outline color and width */
}
